.button
{
    -fx-background-color : #B8282B;
    -fx-background-radius: .2em;
    /*-fx-padding: 2px 25px;*/
    /*-fx-tab-max-width: 5px;*/
}

.button:hover
{
    -fx-background-color : #A1C1F4 ;
}

.button:pressed
{
    -fx-background-color : #73A3EF ;
}


.buttonGreen
{
    -fx-background-color : #088000;
    -fx-background-radius: .2em;
    /*-fx-padding: 2px 25px;*/
    /*-fx-tab-max-width: 5px;*/
}

.buttonGreen:hover
{
    -fx-background-color : #A1C1F4 ;
}

.buttonGreen:pressed
{
    -fx-background-color : #73A3EF ;
}

/*TextField Style*/
{
    -fx-primary-color: white;
    -fx-secondary-color: white;
    -fx-grey-color: #b9b9b9;
    -fx-focus-color: -fx-secondary-color;
}

.text-fieldB {
    -fx-accent: -fx-primary-color;
    -fx-background-color: #1e1e1e; /* Updated background color to #1e1e1e */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-pref-height: 9px; /* Updated preferred height to 30px */
    -fx-border-color: white; /* Set the border color to white */
    -fx-border-width: .3px; /* Set the border width to 1 pixel */
    -fx-border-radius: 5px; /* Set the border radius to 0 for a sharp edge */
    -fx-text-fill: white;
}

.text-fieldB .text {
    -fx-font-size: 10px; /* Updated prompt text size to 14px */
}

.text-fieldB:focused {
    -fx-background-color: -fx-primary-color, #1e1e1e;
    -fx-font-weight: bold;
}


.text-fieldW {
    -fx-accent: -fx-primary-color;
    -fx-background-color: white; /* Updated background color to #1e1e1e */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-pref-height: 9px; /* Updated preferred height to 30px */
    -fx-border-color: #1e1e1e; /* Set the border color to white */
    -fx-border-width: .3px; /* Set the border width to 1 pixel */
    -fx-border-radius: 5px; /* Set the border radius to 0 for a sharp edge */
    -fx-text-fill: #1e1e1e;

}

.text-fieldW .text {
    -fx-font-size: 10px; /* Updated prompt text size to 14px */

}

.text-fieldW:focused {
    -fx-background-color: -fx-primary-color, white;
    -fx-font-weight: bold;
}



/* ComboBox settings */
.combo-box {
    -fx-background-color: #1e1e1e; /* Background color */
    -fx-border-color: white;
    -fx-border-width: .3px;
    -fx-border-radius: 5px;
    -fx-text-fill: white; /* Text color */
    -fx-prompt-text-fill: #1e1e1e; /* Prompt text color */
    -fx-pref-height: 26px; /* Height */
}

.combo-box .arrow-button {
    -fx-background-color: #1e1e1e; /* Button background color */
    /*-fx-border-color: #ccc; !* Border color for the arrow button *!*/
    /*-fx-border-width: 0 1px 0 0; !* Border width: top right bottom left *!*/
}

.combo-box .arrow-button .arrow {
    -fx-background-color: white; /* Arrow color */
}

.combo-box .text-field {
    -fx-opacity: 1; /* Make the text field fully visible */
    -fx-background-color: #1e1e1e; /* Background color */
    -fx-text-fill: white; /* Set prompt text color to white */
}
.combo-box2 .text-field {
    -fx-opacity: 1; /* Make the text field fully visible */
    -fx-font-size: 10;
    -fx-background-color: #1e1e1e; /* Background color */
    -fx-text-fill: white; /* Set prompt text color to white */
}

.combo-box .text-field:focused {
    -fx-background-color: transparent; /* Keep the background transparent when focused */
    -fx-font-weight: bold;
}

.combo-box .text-field:empty {
    -fx-text-fill: #1e1e1e; /* Set prompt text color to white */
}

.combo-box .list-view {
    -fx-background-color: #1e1e1e; /* Background color of the dropdown list */
    -fx-border-color: white; /* Border color of the dropdown list */
    -fx-border-width: 0 .3px .3px .3px; /* Border width: top right bottom left */
}

.combo-box .list-cell {
    -fx-text-fill: #1e1e1e; /* Text color of the dropdown list */
    -fx-font-size: 12px;
}







.paneB {
    -fx-border-width: 0 0 .3px 0 ; /* Border width: top right bottom left */
    -fx-background-color: white;
    -fx-border-color: #8c8b8b;
}

.paneT {
    -fx-border-width: .3px 0 0 0 ; /* Border width: top right bottom left */
    -fx-background-color: white;
    -fx-border-color: #8c8b8b;
}






/*Tab*/
.tab-pane {
    -fx-tab-min-width: 120px; /* Set minimum width for tabs */
}

.tab {
    -fx-background-color: #ffffff; /* Set background color to white */
    -fx-background-radius: 0; /* Remove rounded corners */
    -fx-border-color: white; /* Set border color */
    -fx-border-width: 1px; /* Set border width */
}

.tab-pane .tab-header-area {
    -fx-background-color: #ffffff; /* Set background color for the tab header area */
}

.tab-pane .tab-content-area {
    -fx-background-color: #ffffff; /* Set background color for the tab content area */
}

.tab:hover {
    -fx-background-color: white; /* Change background color on hover */
}

.tab:selected {
    -fx-background-color: #B8282B; /* Change background color on click */
}

.tab:selected .tab-label {
    -fx-font-family: "SF Pro Display";
    -fx-font-weight: Bold; /* Set font weight */
    -fx-text-fill: white; /* Set text color to white */
}

.tab-label {
    -fx-font-size: 12px; /* Set text size */
    -fx-alignment: CENTER; /* Center align tab labels */
}





.table-view .column-header-background {
    -fx-background-color: #b8282b;
    -fx-font-size: 6pt;
}

.table-view .column-header-background .label {
    -fx-text-fill: white; /* Change text color to white */
}

.table-view .column-header {
    -fx-background-color: #b8282b;
    -fx-font-size: 7pt;
}

.table-view .column-header .label {
    -fx-text-fill: white; /* Change text color to white */
}

.table-view .table-row-cell {
    -fx-border-width: 0px 0px 1px 0px; /* Border at the bottom of each row */
    -fx-border-color: transparent transparent #dadada transparent;
}

.table-view .table-row-cell .table-cell {
    -fx-border-width: 0px; /* Remove border for individual cells */
}

.table-view .column-header-background .filler {
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* Adjust header padding */
}

.table-view .column-header .filler {
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* Adjust header padding */
}

.table-view .column-header-background .label {
    -fx-text-fill: white; /* Change text color to white */
}

.table-view .column-header .label {
    -fx-text-fill: white; /* Change text color to white */
}

.table-view .column-header-background .sort-arrow {
    -fx-fill: white; /* Change sort arrow color to white */
}

.table-view .column-header .sort-arrow {
    -fx-fill: white; /* Change sort arrow color to white */
}

.table-view .table-row-cell {
    -fx-border-width: 0px 0px 1px 0px; /* Border at the bottom of each row */
    -fx-border-color: transparent transparent #ececec transparent;
    -fx-font-size: 8pt; /* Set font size for text contents in each row */
}

.table-view .table-row-cell .table-cell {
    -fx-border-width: 0px; /* Remove border for individual cells */
}






.toggle-button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-background-radius: 0; /* Set border radius to 0 for sharp edges */
}

.toggle-button:selected {
    -fx-background-color: #FCD12A;
    -fx-text-fill: black;
    -fx-background-radius: 0; /* Set border radius to 0 for sharp edges */
}

.toggle-button:disabled {
    -fx-background-color: gray;
    -fx-text-fill: white;
    -fx-background-radius: 0; /* Set border radius to 0 for sharp edges */
}